<% layout("/layouts/boilerplate") -%>
<body>
    <div class="row" style="margin-top: 60px;">
        <div class="alert alert-danger col-md-8 offset-md-2" role="alert">
            <h4 class="alert-heading">ERROR - <%=statusCode %></h4>
            <p><%= err.message %></p>
            <!-- <hr>
            <p class="mb-0"><%= err.stack %></p> -->
        </div>
    </div>
</body>