/*------ boilerplate ------*/
.main-box{
    padding: 0 4vw;
}

body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
}

/* ------ Navbar ------ */
.navbar {
    height: 3.5rem;
    background-color: white !important;
    padding: 0 4vw;
}

@media (max-width: 600px) {
    .navbar{
        padding:0 10px;
    }
    .main-box{              /*boilerplate*/
        padding:0 10px;
    }
}

.container-fluid{
    background-color: white;
}

.navbar-brand{
    justify-items: center;
    font-weight: 600;
    font-size: 1.8rem;
    color: #fe424d;
}

.fa-house-laptop{
    font-size: 2rem;
}

.nav-link{
    color: #222 !important;
}

#Homigo-your-home{
    color: #fe424d !important;
}

/*------ footer ------*/
.footer{
    margin-top: 2rem;
    padding: 0;
}

.f-info{
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.f-info-socials i{
    font-size: 1.4rem;
    margin-left: 1rem;
}

.f-info-links a{
    text-decoration: none;
    margin-left: 0.5rem;
    color: #222;
}

.f-info-links a:hover{
    text-decoration: underline;
}


/* ------ All Listing ( Index.ejs )  -------*/
.listing-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading{
    margin: 1rem auto 1rem 0;
    font-weight: 600;
    font-size: 1.2rem;
}

#index-heading{
    margin-left: 1rem;
}

.listing-box{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    padding: 0 1rem;
}

.listing-link{
    text-decoration: none;
    flex-grow: 1;
    flex-basis: 16rem;
}

.listing-card{
    border: none !important;
}

.listing-img{
    border-radius: 0.5rem !important;
    object-fit: cover !important;
    width: 100%;
    aspect-ratio: 1/1;
}

.card-body{
    padding: 0;
}

.card-text p{
    font-weight: 400 !important;
}

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}



/* ------ Add New Listing ------ */
.btn-add{
    background-color: #fe424d;
    color: white;
}


/* ------- Show Page ------ */
.show-box{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 0.3rem;
}

.show-img-box{
    flex-basis: 50%;
    aspect-ratio: 1/1;
}

.show-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0.1rem;
}

.show-content{
    flex-basis: 50%;
    padding-left: 2rem;
    padding-top: 1rem;
}

.btn-options{
    display: flex;
}

.btn-options .btn{
    margin-right: 1rem !important;
}

/* Map */
.review-map-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews-box{
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.review-box{
    padding: 1rem;
    width: 20rem;
    border: 1px solid black;
    border-radius: 0.25rem;
}

.map-box{
    width: 60%;
}
#map{
    width: 100%;
    aspect-ratio: 2/1;
    border-radius: 1rem;
}

@media (max-width: 720px){
    .show-box > div{
        flex-basis: 100%;
        padding: 0.5rem 0.5rem;
    }
    .map-box{
        width: 100%;
    }
    .review-box{
        width: 100%;
    }
}