/*------ boilerplate ------*/
.main-box{
    padding: 0 4vw;
}

body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
}

/* ------ Navbar ------ */
.navbar {
    height: 5rem;
    background-color: white !important;
    padding: 0 4vw;
}

@media (max-width: 600px) {
    .navbar{
        padding:0 10px;
    }
    .main-box{              /*boilerplate*/
        padding:0 10px;
    }
}

.container-fluid{
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222 !important;
}


/*------ footer ------*/
.footer{
    margin-top: 2rem;
    padding: 0;
}

.f-info{
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.f-info-socials i{
    font-size: 1.4rem;
    margin-left: 1rem;
}

.f-info-links a{
    text-decoration: none;
    margin-left: 0.5rem;
    color: #222;
}

.f-info-links a:hover{
    text-decoration: underline;
}


/* ------ All Listing ( Index.ejs )  -------*/
.listing-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading{
    margin: 1rem auto 1rem 1rem;
}

.listing-box{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    padding: 0 1rem;
}

.listing-link{
    text-decoration: none;
    flex-grow: 1;
    flex-basis: 16rem;
}

.listing-card{
    border: none !important;
}

.listing-img{
    border-radius: 0.5rem !important;
    object-fit: cover !important;
    width: 100%;
    aspect-ratio: 1/1;
}

.card-body{
    padding: 0;
}

.card-text p{
    font-weight: 400 !important;
}

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}



/* ------ Add New Listing ------ */
.btn-add{
    background-color: #fe424d;
    color: white;
}


/* ------- Show Page ------ */
.show-box{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 1.5rem;
}

.show-img-box{
    flex-basis: 50%;
    aspect-ratio: 1/1;
}

.show-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.show-content{
    flex-basis: 50%;
    padding-left: 2rem;
}

.btn-options{
    display: flex;
}

.btn-options .btn{
    margin-right: 1rem !important;
}

@media (max-width: 720px){
    .show-box div{
        flex-basis: 100%;
        padding: 0.2rem 1rem;
    }
}

/* Map */
.map-box{
    margin-top: 1rem;
}
#map{
    height: 350px;
    width: 100%;
    border-radius: 1rem;
}